.container-logo{
    height: 100px;
    padding-left: 10%;
    margin: 20px !important;
}
.logo{
    height: 100%;
}
.logo:hover{
    cursor: pointer;
}
.main-navbar{
    background-color: black !important;
    border-color: white !important;
}
.nav-bar-menu{  
    align-items: flex-end !important;
    margin-left: 40%;
}
.button-navbar{
    color: white !important;
}
.button-navbar:hover{
    color: red !important;
}
.login-button{
    color: red !important;
}
.login-button:hover{
    color: blue !important;
}
.link-button{
display: inline-flex !important;
text-decoration: none;
}
